# Project exclude paths
/.gradle/
/.idea/
/build/
/build/classes/java/main/
/gradle/
/src/main/resources/assets/textures/paint.net projects/sprites/
/src/main/java/com/theaemogie/test/
/exports/
/src/main/resources/external/*
/.run/*
